<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <style>


        body,
        table,
        td,
        a {
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
        }

        @@media screen and (max-width: 420px) {
            table[class="col"] {
                display: block !important;
                width: 100% !important;
                max-width: 100% !important;
            }
        }

        img {
            -ms-interpolation-mode: bicubic;
        }

        /* RESET STYLES */
        img {
            border: 0;
            height: auto;
            line-height: 100%;
            outline: none;
            text-decoration: none;
        }

        table {
            border-collapse: collapse !important;
        }

        body {
            height: 639px !important;
            margin: 0 !important;
            padding: 0 !important;
            width: 948px !important;
        }




        div[style*="margin: 16px 0;"] {
            margin: 0 !important;
        }

        .table-responsive {
            width: 100%;
            margin-bottom: 15px;
            overflow-x: auto;
            overflow-y: hidden;
            -webkit-overflow-scrolling: touch;
            -ms-overflow-style: -ms-autohiding-scrollbar;
            border: 1px solid #DDD;
        }

        .c_size {
            width: 948px !important;
            height: 639px !important;
        }


        @@font-face {
            font-family: 'pslxomyim_bold';
            src: url('C://eCardService//fonts//pslomyim//pslxomyim_bold.ttf') format('truetype');
        }

        @@font-face {
            font-family: 'kidsrock_demo';
            src: url('C://eCardService//fonts//kidsrock_demo.otf') format('opentype');
        }
    </style>
</head>
<body>
    <div class="table-responsive">


        <table border="0" cellpadding="0" class="col" cellspacing="0" style="width:100%;min-width:100%;">
            <!-- LOGO -->
            <!--    <tr>
                <td align="center">

                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 710px;">
                        <tr>
                            <td align="center" valign="top" style="padding: 40px 10px 40px 10px;">
                            </td>
                        </tr>
                    </table>

                </td>
            </tr>
            <!-- HERO -->
            <!--   <tr>
                <td align="center" style="padding: 0px 10px 0px 10px;">

                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 710px;">
                        <tr>
                            <td align="center" valign="top" style="padding: 40px 20px 20px 20px;
                            border-radius: 4px 4px 0px 0px; color: #111111;
                            ">
                                <h1 style="font-size: 48px; font-weight: 400; margin: 0;"></h1>
                            </td>


                        </tr>
                    </table>

                </td>
            </tr> -->
            <!-- COPY BLOCK -->
            <tr>
                <td>

                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 948px; height:639px">
                        <!-- COPY -->
                        <tr>
                            <td class="c_size" background="http://hrs.thairath.co.th/EssEmail/ESSBDCard/image/bgECardTemplate2.jpg">
                                <table width="100%" bgcolor="#ffffff" class="x_w400 divback" align="center" border="0"
                                       cellpadding="0" cellspacing="0"
                                       style="background: transparent none repeat scroll 0 0; margin: 0 auto;  ">
                                    <tbody>

                                        <tr>
                                            <td align="left" valign="top">
                                                <table width="474" cellpadding="0"
                                                       cellspacing="0" border="0" align="left">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <table width="100%" cellpadding="0" cellspacing="0"
                                                                       border="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <!--<td width="15" class="x_hidemob"></td>-->
                                                                            <td>
                                                                                <table width="100%" cellpadding="0"
                                                                                       cellspacing="0" border="0" style=" margin-left: 50px;">
                                                                                    <tbody>

                                                                                        <tr>
                                                                                            <td align="center">
                                                                                                <span style="font-family: 'kidsrock_demo'; margin-top: 282px; display: inline-block; line-height: 1; color: rgb(102,93,208); font-size: 20pt;"><strong>@Model.BIRTH_DAY</strong></span>
                                                                                                <br>
                                                                                                <span style="display: inline-block; min-width: 230px; padding: 6px 8px; font-size: 30pt; font-weight: bold; font-family: 'pslxomyim_bold'; word-break: break-all; line-height: 1; color: rgb(102,93,208); text-align: center; white-space: nowrap; vertical-align: middle; /*background-color: rgb(0,180,0);*/ margin-top: 9px;">
                                                                                                    @Model.FULLNAME
                                                                                                </span>
                                                                                                <br>

                                                                                                <span style="display: inline-block; min-width: 80px; padding: 6px 8px; font-size: 30pt; font-weight: bold; line-height: 1; color: #fff; text-align: center; white-space: nowrap; vertical-align: middle; font-family: 'pslxomyim_bold'; border-radius: 20px; margin-top: 22px;">@Model.NICK_NAME</span>

                                                                                            </td>
                                                                                        </tr>


                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                            <td width="15" class=""></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <table width="474" cellpadding="0" cellspacing="0" border="0"
                                                       align="right" class="">
                                                    <tbody>

                                                        <tr>
                                                            <td align="center">
                                                                <img src='data:image/jpg;base64,  @Model.PHOTO_PATH_TO' id="x_mob_hide" border="0"
                                                                     style="display: inline-block;max-width: 100%;height: auto;margin-top: 33px;height: 289px;width: 243px;margin-left: 10px;">

                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>


                            </td>
                        </tr>
                    </table>

                </td>
            </tr>
            <!-- FOOTER -->
            <tr>
            </tr>
        </table>

    </div>



</body>
</html>